* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --Bg-PopUp-Padrao: #7A431A;
  --Bg-Window-Padrao: linear-gradient(to bottom, #BC7137, #563419);
}
body {
  background: var(--Bg-PopUp-Padrao);
  height: 100vh;
}
.App {
  display: flex;
}
